body {
	background-color:white;
	font-family: 'Antic', 'Helvetica', sans-serif;
}

#title {
	font-size: 32px;
	text-align: left;
	margin-top: 35px;
	margin-bottom: 20px;
	font-weight:light;
	color: black;
	text-align: center;

}

#content {
	vertical-align: middle;
	margin: auto;
	text-align: center;
}

#sidebar {
	width: 40%;
	margin-left: 0px;
	display: inline-block;
	vertical-align: top;
	color:green;

}

#container {
	vertical-align: top;
	//width: 50%;
	display: inline-block;
	overflow: visible;
}

.footer {
	text-align: right;
	margin-top: 20px;
	color: gray;
	font-size: 10px;
}

.subtitle {
	text-align: left;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}

.citation {
	font-size: 12px;
	color: black;
	text-align: left;
	margin-bottom: 3px;
}

.citation-title {
	font-weight: bold;
	display: inline;
}

.paragraph {
	display: block;
	font-size: 16px;
	color: black;
	text-align: justify;
	margin-bottom: 5px;
}

svg {
	border:.5px solid black;
	background:rgb(230,230,230);
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.widgets{
	background:white;
	border:.5px solid white;
}

#attract_scope{
	fill:rgb(220,220,220);
	stroke:black;
	stroke-width:0.5px;
}

#orient_scope{
	fill:rgb(180,180,180);
	stroke:black;
	stroke-width:0.5px;
}

#repell_scope{
	fill:rgb(255,255,255);
	stroke:black;
	stroke-width:0.5px;

}

#speed{
	fill:white;
	stroke:black;
	stroke-width:0.5px;
}

.agent {
	opacity:1;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.9;
  stroke-width: 5px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 3.5px;
}

.track-overlay {
  pointer-events: stroke;
  stroke: transparent;
  cursor: crosshair;
}

.slider_label{
	font-size:10px;
}

