body {
    transition: background-color .5s;
  }
  
  #mini-overlay {
    position: fixed;
    display: none;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
  }
  
  #mini-window {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 0;
    background-color: #FFF;
    z-index: 2;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  #btn-close {
    background-color: #C56FD5;
    border: 0;
    position: fixed;
    top: 30px;
    right: -50px;
    width: 40px;
    height: 40px;
    outline: none;
    border-radius: 0;
    z-index: 3;
    color:white;
    font-size: 26px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .5s;
  }
  
  #btn-close:hover {
    background-color: #0284c5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }