body {
    font-family: 'Lato', san-serif;
    transition: background-color .5s;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin: 0;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  hr {
    margin: 20px;
  }
  
  textarea {
    width:100%;
    white-space: nowrap;
  }
  
  code {
    font-family: 'Source Code Pro', monospace;
  }
  
  #header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #333333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .navbar {
    float: left;
    padding-left: 10%;
    color: white;
    font-size: 1.25rem;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  #main {
    transition: margin-left .5s;
    padding-top: 0;
    /* 周围留白距离 */
    padding: 16px;
    color: #FFFFFF;
  }
  
  #link {
    float: right;
    padding-top: 17px;
    padding-right: 10%;
    font-size: 1rem;
    /* font-weight: 600; */
    text-decoration: none;
  }
  
  #link a {
    color: #2196F3 ;
    text-decoration: none;
  }
  
  #link a:hover {
    color: rgb(163, 51, 190);
    text-decoration: none;
  }
  
  #container {
    position: relative;
    top: 50px;
    width: 80%;
    max-width: 960px;
    padding: 0 50px 0 50px;
    margin: 0 auto;
    display: block;
    overflow-x: hidden;
    /* height: 1500px;  */
  }