body {
  font-family: 'Lato', san-serif;
  transition: background-color .5s;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0;
}

h2 {
  margin-bottom: 10px;
}

hr {
  margin: 20px;
}

textarea {
  width:100%;
  white-space: nowrap;
}

code {
  font-family: 'Source Code Pro', monospace;
}

input {
  outline: none;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: #333333;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.navbar {
  float: left;
  padding-left: 10%;
  color: white;
  font-size: 1.25rem;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

#container {
  position: relative;
  top: 50px;
  width: 80%;
  max-width: 960px;
  padding: 0 50px 0 50px;
  margin: 0 auto;
  display: block;
  overflow-x: hidden;
}

.btn {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #0088cc;
  width: 90px;
  height: 30px;
  outline: none;
  font-size: 13px;
  color: white;
  border:none;
}


@media screen and (min-width: 200px) and (max-width: 450px) {

}